<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dahuang.logistics.mapper.StudentMapper">

    <insert id="submitApplication" parameterType="com.dahuang.logistics.entity.DormChangeApplication">
       insert into school_backend_manage.dorm_change_application
        (student_no, current_dormitory_id, target_dormitory_id, reason, application_time)
        VALUES
            (#{studentNo}, #{currentDormitoryId}, #{targetDormitoryId}, #{reason},
             #{applicationTime})
    </insert>
</mapper>
