<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dahuang.logistics.mapper.StudentMapper">

    <insert id="submitApplication" parameterType="com.dahuang.logistics.entity.DormChangeApplication">
       insert into school_backend_manage.dorm_change_application
        (student_no, current_dormitory_id, target_dormitory_id, reason, application_time)
        VALUES
            (#{studentNo}, #{currentDormitoryId}, #{targetDormitoryId}, #{reason},
             #{applicationTime})
    </insert>

    <select id="getAnnouncementList"
            resultType="com.dahuang.logistics.vo.AnnouncementVO">
        SELECT
        a.id,
        a.title,
        a.content,
        a.publisher,
        a.publish_time AS publishTime,
        a.is_deleted AS isDeleted,
        a.announcement_type_id AS announcementTypeId,
        at.type_name AS announcementTypeName,
        at.priority
        FROM
        school_backend_manage.announcement a
        LEFT JOIN
        school_backend_manage.announcement_type at
        ON a.announcement_type_id = at.id
        WHERE
        a.is_deleted = 0
        <if test="priority != null">
            AND at.priority = #{priority}
        </if>
        ORDER BY
        at.priority DESC,
        a.publish_time DESC
        LIMIT #{offset}, #{limit}
    </select>
    <select id="countAnnouncements" resultType="int">
        SELECT COUNT(*)
        FROM
        school_backend_manage.announcement a
        LEFT JOIN
        school_backend_manage.announcement_type at
        ON a.announcement_type_id = at.id
        WHERE
        a.is_deleted = 0
        <if test="priority != null">
            AND at.priority = #{priority}
        </if>
    </select>

</mapper>
